.course-details-wrapper {
    max-width: 1000px;
    width: 100%;

    .details-card {
        padding: 0;
    }

}
.tile {
    background-color: white;
    padding: 23px;
    text-align: center;
}
#complete {
    background-color: lightblue;
}
#grade {
    background-color: lightgreen;
}
.button-container {
    margin-top: 15px;
}
.deliverable-wrapper {
    > .deliverable {
        padding: 15px;
    }
    > .deliverable:not(:first-child) {
        border-top: solid 1px #DDD;
    }
}