<form id="login-bg" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <md-card id="login-card">
        <md-card-header>
            <md-card-title>Login to Delivery</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-input-container>
                <input formControlName="email" placeholder="Email" mdInput />
            </md-input-container>
            <md-input-container>
                <input formControlName="password" placeholder="Password" type="password" mdInput />
            </md-input-container>
            <p *ngIf="serverError" class="error-text">
                {{serverError}}
            </p>
        </md-card-content>
        <md-card-actions align="end">
            <button md-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
        </md-card-actions>
    </md-card>
</form>