<div id="login-bg">
    <md-card id="login-card">
        <md-card-header>
            <md-card-title>Login to Delivery</md-card-title>
        </md-card-header>
        <md-card-content>
            <form>
                <md-input-container>
                    <input mdInput placeholder="Email" />
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Password" type="password" />
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button>Login</button>
        </md-card-actions>
    </md-card>
</div>