<md-toolbar color="primary">
    <div *ngIf="semester">{{semester.name}}</div>
</md-toolbar>
<div fxLayoutAlign="center center" fxLayout="column">
    <div fxLayout="column" class="semester-details-wrapper">
         <md-card *ngIf="semester" class="details-card">
            <div fxLayout="column" class="course-wrapper">
                <div class="course" *ngFor="let course of semester.courses" [routerLink]="['/course/' + course._id]" fxLayout="row">
                    <div fxFlex>{{course.name}}</div>
                    <div *ngIf="course.mark">{{course.mark | number : '1.0-1'}}%</div>
                    <div *ngIf="!course.mark">-</div>
                </div>
            </div>
        </md-card>
        <div fxLayout="row" fxLayoutAlign="center center" class="button-container">
            <a md-fab (click)="openCourseDialog()">
                <md-icon>add</md-icon>
            </a>
        </div>
    </div>
</div>